[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
dotenv = "*"
psycopg2 = "*"
social-auth-app-django = "*"
djangorestframework = "*"
django-cors-headers = "*"
pillow = "*"
boto3 = "*"
django-storages = "*"
pytest = "*"
pytest-django = "*"
channels = "*"
channels-redis = "*"
daphne = "*"
nodeenv = "*"
python-magic-bin = "*"

[dev-packages]

[requires]
python_version = "3.13"
